
.single-game {
  &__container {
    display: inline-block;
    border: 1px solid rgb(var(--color-background-secondary));
    min-width: var(--internal-width);
    margin-right: 10px;
    min-height: 70px;
    padding: 0.5rem 1rem;
    box-sizing: border-box;

    &:last-child {
      margin: 0;
    }
  }
}

.guess {
  &__container {
    --size: 24px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.25rem;
  }
}