
.info-header {
  &__container {
    width: 260px;
    margin: 0 auto 1rem;
    display: flex;
    height: 50px;
  }

  &__info {
    flex: 3;
    height: inherit;
  }

  &__new {
    flex: 1;
    height: inherit;
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-foreground));
    border: 1px solid rgb(var(--color-background-secondary));
    border-radius: 5px;
    margin-left: 1rem;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      background-color: rgb(var(--color-background-secondary), 0.5);
    }
  }
}


.current-guess {
  &__container {
    width: 260px;
    --size: 42px;
    margin: auto;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}